[core]
	excludesfile = /home/robert/.gitignore
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
[pager]
	branch = false
[status]
	showuntrackedfiles = normal
[user]
	email = robert@drivendata.org
	name = Robert Gibboni
