[user]
	email = robert@drivendata.org
	name = Robert Gibboni
[pager]
	branch = false
[credential]
	helper = cache --timeout=3600
[status]
	showuntrackedfiles = normal
[core]
	excludesfile = /home/robert/.gitignore
